.jumbotron {
	padding-top: 6rem;
}

#about {
	background-color: #ffffff;
}

#alamat {
	background-color: #ffffff;
}

#galery {
	background-color: #ffc72c;
}

#contact {
	background-color: #ffc72c;
}

.list-group {
	background-color: #ffc72c;
}
